<footer id="footer" class="footer">
    <div class="copyright">
        <span>2021 © <%= config.author %></span> <br>
        
        <span>Created with <span style="color: red;"><i class="lni lni-heart-filled"></i></span> By <a href="https://abodsakka.xyz">Abdulrahman Sakah</a></span>
    </div>
</footer>
