@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  z-index: 6;
  background-color: #25262A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100px;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar i {
  color: white;
}

.navbar .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar .logo img {
  height: 50px !important;
}

.navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0;
  padding: 0;
}

.navbar .nav-list li {
  margin-left: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.navbar .nav-list li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.navbar .nav-list li a:hover {
  color: #FFC107;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .index-header {
  height: 50vh;
  width: 100vw;
  background-color: #25262A;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.container .artical-container {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.13);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 50px;
  background-color: #2d2f33;
  border-radius: 1em;
  color: white;
}

.container .artical-container img {
  margin-right: 30px;
  width: 20%;
  height: auto;
}

.container .artical-container .artical-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .artical-container:hover {
  cursor: pointer;
}

@media screen and (min-width: 772px) {
  .navbar i {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
  }
  .navbar i {
    z-index: 6;
    font-size: 25px;
    margin-top: 10px;
  }
  .navbar .logo {
    z-index: 6;
    margin-top: 15px;
    justify-self: flex-start !important;
    margin-left: 20px;
  }
  .navbar .logo img {
    height: 30px !important;
  }
  .navbar .nav-list {
    z-index: 0 !important;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow-x: hidden;
    padding-bottom: 30px;
    background-color: #25262A;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .nav-list li {
    margin-top: 20px;
  }
  .navbar .nav-list li a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  .navbar .nav-list li a:hover {
    color: #FFC107;
  }
  .navbar .show {
    display: block !important;
    -webkit-animation: openMenu 0.5s ease-in-out;
            animation: openMenu 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .navbar .closed {
    display: block !important;
    -webkit-animation: closeMenu 0.5s ease-in-out;
            animation: closeMenu 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}

@-webkit-keyframes openMenu {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes openMenu {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes closeMenu {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes closeMenu {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */