<script>
    // no jquery

    // close menu when clickes outside
    document.addEventListener('click', function(e) {
        if (!e.target.classList.contains('nav-item') && !e.target.classList.contains('menubtn')) {
            document.getElementById("nav-list").classList.toggle("show");
            document.getElementById("nav-list").classList.toggle("closed");
        }
    });
    function showMenu() {
        document.getElementById("nav-list").classList.toggle("show");
        document.getElementById("nav-list").classList.toggle("closed");
    }
</script>
</body>
</html>
