<div class="navbar">
    <a href="/" class="logo"><img src="/images/Logo.png" alt="Abod's blog"></a>
    <i class="fas menubtn fa-bars" onclick="showMenu()"></i>

    <ul class="nav-list closed" id="nav-list">
        <li class="nav-item"">
            <a href="/">Home</a>
        </li>
        <li class="nav-item">
            <a href="/blog">Blog</a>
        </li>
        <li class="nav-item">
            <a href="/about">About</a>
        </li>
        <li class="nav-item">
            <a href="/contact">Contact</a>
        </li>
    </ul>
</div>